{
    "openapi": "3.1.0",
    "info": {
        "title": "Mifumo SMS API",
        "description": "Complete Frontend API Documentation for Mifumo SMS Platform",
        "version": "1.0.0",
        "contact": {
            "email": "support@mifumolabs.com"
        }
    },
    "servers": [{
        "url": "https://mifumosms.mifumolabs.com/api",
        "description": "Production server"
    }],
    "security": [{
        "bearerAuth": []
    }],
    "tags": [{
            "name": "Authentication",
            "description": "User registration, login, and account management"
        },
        {
            "name": "User Management",
            "description": "Profile and settings management"
        },
        {
            "name": "SMS Operations",
            "description": "Send SMS, check balance, and delivery status"
        },
        {
            "name": "Contact Management",
            "description": "Manage contacts and lists"
        },
        {
            "name": "Campaign Management",
            "description": "Create and manage SMS campaigns"
        },
        {
            "name": "Template Management",
            "description": "SMS message templates"
        },
        {
            "name": "Billing & Payments",
            "description": "Purchase SMS packages and manage payments"
        },
        {
            "name": "Tenant Management",
            "description": "Multi-tenant organization management"
        },
        {
            "name": "Notifications",
            "description": "System notifications"
        },
        {
            "name": "Sender ID Management",
            "description": "Manage sender IDs"
        },
        {
            "name": "Dashboard & Analytics",
            "description": "Analytics and reporting"
        }
    ],
    "paths": {
        "/auth/register/": {
            "post": {
                "tags": ["Authentication"],
                "summary": "Register User",
                "description": "Register a new user account",
                "operationId": "registerUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RegisterResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/login/": {
            "post": {
                "tags": ["Authentication"],
                "summary": "Login",
                "description": "Authenticate and receive access tokens",
                "operationId": "login",
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/token/refresh/": {
            "post": {
                "tags": ["Authentication"],
                "summary": "Refresh Token",
                "description": "Refresh an expired access token",
                "operationId": "refreshToken",
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RefreshTokenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token refreshed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RefreshTokenResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/logout/": {
            "post": {
                "tags": ["Authentication"],
                "summary": "Logout",
                "description": "Logout and invalidate the current session",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/profile/": {
            "get": {
                "tags": ["User Management"],
                "summary": "Get User Profile",
                "description": "Get current user's profile information",
                "operationId": "getProfile",
                "responses": {
                    "200": {
                        "description": "Profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserProfile"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messaging/sms/send/": {
            "post": {
                "tags": ["SMS Operations"],
                "summary": "Send SMS",
                "description": "Send a single SMS message",
                "operationId": "sendSMS",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendSMSRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "SMS sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SendSMSResponse"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Insufficient credits",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InsufficientCreditsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messaging/sms/balance/": {
            "get": {
                "tags": ["SMS Operations"],
                "summary": "Get SMS Balance",
                "description": "Get current SMS credit balance",
                "operationId": "getSMSBalance",
                "responses": {
                    "200": {
                        "description": "Balance retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SMSBalanceResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messaging/contacts/": {
            "get": {
                "tags": ["Contact Management"],
                "summary": "List Contacts",
                "description": "List all contacts with pagination and filtering",
                "operationId": "listContacts",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contacts retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedContacts"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Contact Management"],
                "summary": "Create Contact",
                "description": "Create a new contact",
                "operationId": "createContact",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateContactRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Contact created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Contact"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messaging/campaigns/": {
            "get": {
                "tags": ["Campaign Management"],
                "summary": "List Campaigns",
                "description": "List all SMS campaigns",
                "operationId": "listCampaigns",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": ["draft", "scheduled", "running", "paused", "completed", "cancelled"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Campaigns retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedCampaigns"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Campaign Management"],
                "summary": "Create Campaign",
                "description": "Create a new SMS campaign",
                "operationId": "createCampaign",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCampaignRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Campaign created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Campaign"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/billing/sms/packages/": {
            "get": {
                "tags": ["Billing & Payments"],
                "summary": "List SMS Packages",
                "description": "List all available SMS packages",
                "operationId": "listSMSPackages",
                "responses": {
                    "200": {
                        "description": "Packages retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SMSPackagesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messaging/dashboard/overview/": {
            "get": {
                "tags": ["Dashboard & Analytics"],
                "summary": "Dashboard Overview",
                "description": "Get dashboard overview statistics",
                "operationId": "getDashboardOverview",
                "responses": {
                    "200": {
                        "description": "Dashboard data retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DashboardOverview"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "schemas": {
            "RegisterRequest": {
                "type": "object",
                "required": ["email", "first_name", "last_name", "phone_number", "password", "password_confirm"],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "first_name": {
                        "type": "string"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "string",
                        "pattern": "^\\+[1-9]\\d{1,14}$"
                    },
                    "password": {
                        "type": "string",
                        "minLength": 8
                    },
                    "password_confirm": {
                        "type": "string"
                    },
                    "timezone": {
                        "type": "string",
                        "default": "Africa/Dar_es_Salaam"
                    },
                    "business_name": {
                        "type": "string"
                    },
                    "company_name": {
                        "type": "string"
                    },
                    "subdomain": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    }
                }
            },
            "RegisterResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "email_verification_sent": {
                        "type": "boolean"
                    },
                    "sms_verification_sent": {
                        "type": "boolean"
                    },
                    "account_active": {
                        "type": "boolean"
                    },
                    "requires_activation": {
                        "type": "boolean"
                    },
                    "activation_required": {
                        "type": "boolean"
                    },
                    "tokens": {
                        "type": "object",
                        "nullable": true
                    }
                }
            },
            "LoginRequest": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string"
                    }
                }
            },
            "LoginResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "tokens": {
                        "$ref": "#/components/schemas/Tokens"
                    }
                }
            },
            "RefreshTokenRequest": {
                "type": "object",
                "required": ["refresh"],
                "properties": {
                    "refresh": {
                        "type": "string"
                    }
                }
            },
            "RefreshTokenResponse": {
                "type": "object",
                "properties": {
                    "access": {
                        "type": "string"
                    }
                }
            },
            "MessageResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                }
            },
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "email": {
                        "type": "string"
                    },
                    "first_name": {
                        "type": "string"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "full_name": {
                        "type": "string"
                    },
                    "short_name": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "string"
                    },
                    "timezone": {
                        "type": "string"
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true
                    },
                    "bio": {
                        "type": "string"
                    },
                    "is_verified": {
                        "type": "boolean"
                    },
                    "is_active": {
                        "type": "boolean"
                    },
                    "phone_verified": {
                        "type": "boolean"
                    },
                    "email_notifications": {
                        "type": "boolean"
                    },
                    "sms_notifications": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "last_login_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "UserProfile": {
                "allOf": [{
                    "$ref": "#/components/schemas/User"
                }]
            },
            "Tokens": {
                "type": "object",
                "properties": {
                    "refresh": {
                        "type": "string"
                    },
                    "access": {
                        "type": "string"
                    }
                }
            },
            "SendSMSRequest": {
                "type": "object",
                "required": ["recipient", "message", "sender_id"],
                "properties": {
                    "recipient": {
                        "type": "string",
                        "pattern": "^\\+[1-9]\\d{1,14}$"
                    },
                    "message": {
                        "type": "string"
                    },
                    "sender_id": {
                        "type": "string"
                    }
                }
            },
            "SendSMSResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/SMSMessage"
                    }
                }
            },
            "SMSMessage": {
                "type": "object",
                "properties": {
                    "message_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "recipient": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "sender_id": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": ["queued", "sent", "delivered", "failed"]
                    },
                    "cost": {
                        "type": "number",
                        "format": "float"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "sent_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "SMSBalanceResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "balance": {
                        "$ref": "#/components/schemas/Balance"
                    }
                }
            },
            "Balance": {
                "type": "object",
                "properties": {
                    "credits": {
                        "type": "integer"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "last_updated": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Contact": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "phone_e164": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "nullable": true
                    },
                    "attributes": {
                        "type": "object"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "is_active": {
                        "type": "boolean"
                    },
                    "opt_in_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "opt_out_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CreateContactRequest": {
                "type": "object",
                "required": ["name", "phone_e164"],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "phone_e164": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "attributes": {
                        "type": "object"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "PaginatedContacts": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer"
                    },
                    "next": {
                        "type": "string",
                        "nullable": true
                    },
                    "previous": {
                        "type": "string",
                        "nullable": true
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Contact"
                        }
                    }
                }
            },
            "Campaign": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": ["draft", "scheduled", "running", "paused", "completed", "cancelled"]
                    },
                    "scheduled_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "total_recipients": {
                        "type": "integer"
                    },
                    "sent": {
                        "type": "integer"
                    },
                    "delivered": {
                        "type": "integer"
                    },
                    "failed": {
                        "type": "integer"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CreateCampaignRequest": {
                "type": "object",
                "required": ["name", "message"],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "recipients": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "sender_id": {
                        "type": "string"
                    },
                    "scheduled_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "segment_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "contact_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "PaginatedCampaigns": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer"
                    },
                    "next": {
                        "type": "string",
                        "nullable": true
                    },
                    "previous": {
                        "type": "string",
                        "nullable": true
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Campaign"
                        }
                    }
                }
            },
            "SMSPackage": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "sms_count": {
                        "type": "integer"
                    },
                    "price": {
                        "type": "number",
                        "format": "float"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "bonus_sms": {
                        "type": "integer"
                    },
                    "validity_days": {
                        "type": "integer"
                    },
                    "is_active": {
                        "type": "boolean"
                    }
                }
            },
            "SMSPackagesResponse": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SMSPackage"
                        }
                    }
                }
            },
            "DashboardOverview": {
                "type": "object",
                "properties": {
                    "stats": {
                        "$ref": "#/components/schemas/DashboardStats"
                    },
                    "recent_activity": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Activity"
                        }
                    }
                }
            },
            "DashboardStats": {
                "type": "object",
                "properties": {
                    "total_contacts": {
                        "type": "integer"
                    },
                    "total_campaigns": {
                        "type": "integer"
                    },
                    "total_messages_sent": {
                        "type": "integer"
                    },
                    "total_messages_delivered": {
                        "type": "integer"
                    },
                    "delivery_rate": {
                        "type": "number",
                        "format": "float"
                    },
                    "total_spent": {
                        "type": "number",
                        "format": "float"
                    },
                    "current_balance": {
                        "type": "number",
                        "format": "float"
                    }
                }
            },
            "Activity": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ErrorResponse": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "details": {
                        "type": "object"
                    }
                }
            },
            "InsufficientCreditsError": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "error": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "required_credits": {
                        "type": "integer"
                    },
                    "current_balance": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}